# Created by https://www.gitignore.io/api/opencart

### OpenCart ###

# actually maybe not including the config files is a sensible idea?
#   /config.php
#   admin/config.php

!index.html

# no download dir???
#   download/

# what is image/data?
#   image/data/ 

image/cache/
system/cache/
system/logs/
